<h1><%= pokemon.name %> </h1>
<img src="<%=pokemon.sprites.front_default %>" alt="pictures">
<p>Height: <%= pokemon.height %> </p>
<p>Ability 1: <%= pokemon.abilities[0].ability.name %> </p>
<p>Ability 2: <%= pokemon.abilities[1].ability.name %> </p>
